:root {

  /**
   * Font sizes (https://www.modularscale.com/?1&em&1.2)
   */

  --alpha: 3.583rem;
  --beta: 2.986rem;
  --gamma: 2.488rem;
  --delta: 2.074rem;
  --epsilon: 1.728rem;
  --zeta: 1.44rem;
  --eta: 1.2rem;
  --theta: 1rem;
  --iota: 0.833rem;


  /**
   * Colors (https://yeun.github.io/open-color/)
   */

  --oc-white: #ffffff;
  --oc-white-rgb: 255, 255, 255;
  --oc-black: #000000;
  --oc-black-rgb: 0, 0, 0;

  --gray-0: #f8f9fa;
  --gray-1: #f1f3f5;
  --gray-2: #e9ecef;
  --gray-3: #dee2e6;
  --gray-4: #ced4da;
  --gray-5: #adb5bd;
  --gray-6: #868e96;
  --gray-7: #495057;
  --gray-8: #343a40;
  --gray-9: #212529;

  --blue-0: #e7f5ff;
  --blue-1: #d0ebff;
  --blue-2: #a5d8ff;
  --blue-3: #74c0fc;
  --blue-4: #4dabf7;
  --blue-5: #339af0;
  --blue-6: #228be6;
  --blue-7: #1c7ed6;
  --blue-8: #1971c2;
  --blue-9: #1864ab;

  --teal-0: #e6fcf5;
  --teal-1: #c3fae8;
  --teal-2: #96f2d7;
  --teal-3: #63e6be;
  --teal-4: #38d9a9;
  --teal-5: #20c997;
  --teal-6: #12b886;
  --teal-7: #0ca678;
  --teal-8: #099268;
  --teal-9: #087f5b;


  /**
   * Fonts
   */

  --serif: "Tiempos Text";
  --sans: "Tiempos Text";
  --mono: "Pitch Sans";

  --font-bold: 700;
  --font-semi-bold: 600;
  --font-medium: 500;
  --font-normal: 400;

  --tracking-tighter: -0.05em;
  --tracking-tight: -0.025em;
  --tracking-normal: 0;
  --tracking-wide: 0.025em;
  --tracking-wider: 0.05em;
  --tracking-widest: 0.1em;

  /**
   * Measurements
   */

  --modular-scale-0: 0;
  --modular-scale-1: 0.25rem;
  --modular-scale-2: 0.5rem;
  --modular-scale-3: 0.75rem;
  --modular-scale-4: 1rem;
  --modular-scale-5: 1.25rem;
  --modular-scale-6: 1.5rem;
  --modular-scale-8: 2rem;
  --modular-scale-10: 2.5rem;
  --modular-scale-12: 3rem;
  --modular-scale-16: 4rem;
  --modular-scale-20: 5rem;
  --modular-scale-24: 6rem;
  --modular-scale-32: 8rem;
  --modular-scale-64: 16rem;

  --max-width: 31rem;
}


/**
 * Font face
 */
/* 
@font-face {
  font-family: "Pitch Sans";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/PitchSansWeb-Semibold.woff2") format("woff2"),
       url("../fonts/PitchSansWeb-Semibold.woff") format("woff"),
       url("../fonts/PitchSansWeb-Semibold.eot") format("eot");
}

@font-face {
  font-family: "Pitch Sans";
  font-weight: 600;
  font-style: italic;
  src: url("../fonts/PitchSansWeb-SemiboldItalic.woff2") format("woff2"),
       url("../fonts/PitchSansWeb-SemiboldItalic.woff") format("woff"),
       url("../fonts/PitchSansWeb-SemiboldItalic.eot") format("eot");
} */

@font-face {
  font-family: "Pitch Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/test/PitchSansTest-Regular.woff") format("woff");
}

@font-face {
  font-family: "Pitch Sans";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/test/PitchSansTest-RegularItalic.woff") format("woff");
}

@font-face {
  font-family: "Tiempos Text";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/TiemposTextWeb-Regular.woff2") format("woff2"),
       url("../fonts/TiemposTextWeb-Regular.woff") format("woff"),
       url("../fonts/TiemposTextWeb-Regular.eot") format("eot");
}

@font-face {
  font-family: "Tiempos Text";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/TiemposTextWeb-RegularItalic.woff2") format("woff2"),
       url("../fonts/TiemposTextWeb-RegularItalic.woff") format("woff"),
       url("../fonts/TiemposTextWeb-RegularItalic.eot") format("eot");
}

html {
  font-family: var(--sans);
  font-size: 16px;
}

.direct-link {
  display: none;
}

.header {
  padding: 1.1rem 0 0.65rem;
}

.header__content {
  max-width: var(--max-width);
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;

  /* margin: 0 auto; */
}


@media (min-width: 50rem) {
  .header__content {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.site-name {
  margin: 0;
  padding: 0;
  font-size: var(--theta);
  display: flex;
}

.site-name__link {
  text-decoration: none;
  align-self: center;
  color: var(--gray-9);
  font-family: var(--mono);
  font-weight: 400;
  font-size: var(--theta);
}

.nav {
  margin-left: auto;
}

.nav__list {
  list-style: none;
  padding: 0;
}

.nav__item {
  display: inline;
  padding-left: var(--modular-scale-4)
}

.nav__link {
  text-decoration: none;
  font-family: var(--mono);
  font-weight: 400;
  font-size: var(--theta);
  color: var(--gray-9);
}

.footer {
  padding: 3.9rem 0 1.4rem;
}

.footer__content {
  max-width: var(--max-width);
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;

  /* margin: 0 auto; */
}

@media (min-width: 50rem) {
  .footer__content {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.footer__content p {
  font-family: var(--mono);
  font-weight: 400;
  font-size: var(--theta);
}

.post__title {
  font-size: var(--epsilon);
}

.main {
  max-width: var(--max-width);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 3.5rem;

  /* margin: 0 auto; */
}

@media (min-width: 50rem) {
  .main {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

pre {
  font-family: var(--mono);
  font-weight:theta
}

.typeset h1 {
  font-size: var(--zeta);
  font-family: var(--serif);
  margin: 0;
  padding: 0;
  line-height: 1.31;
  font-weight: 400;
  color: var(--gray-9);
}

.typeset h1 + p {
  margin-top: 1rem;
}

.typeset h2 {
  font-size: var(--eta);
  font-family: var(--serif);
  line-height: 1.36;
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: var(--gray-9);
}

.typeset h2 + p {
  margin-top: 1rem;
}

.typeset h3 {
  font-size: var(--eta);
  font-weight: var(--font-semi-bold);
  font-family: var(--serif);
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: var(--gray-9);
}

.typeset h3 + p {
  margin-top: 0.8rem;
}

.typeset h4 {
  font-size: var(--eta);
  font-family: var(--serif);
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: var(--gray-9);
}

.typeset h5 {
  font-size: var(--eta);
  font-family: var(--serif);
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: var(--gray-9);
}

.typeset h6 {
  font-size: var(--eta);
  font-family: var(--serif);
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: var(--gray-9);
}

.typeset p {
  font-size: var(--theta);
  line-height: 1.5;
  margin: 0;
  padding: 0;
  color: var(--gray-8);
}

.typeset p img {
  width: calc(100vw - 2rem);
  box-sizing: border-box;
}

@media (min-width: 50rem) {
  .typeset p img {
    width: calc(100vw - 4rem);
    box-sizing: border-box;
  }
}


.typeset p + p,
.typeset p + ul {
  margin-top: 1rem;
}

.typeset p + pre,
.typeset p + code {
  margin-top: 1.65rem;
}

.typeset p + img {
  margin-top: 2rem;
}

.typeset p + h2 {
  margin-top: 1.4rem;
}

.typeset p + h3 {
  margin-top: 1.4rem;
}

.typeset p + blockquote {
  margin-top: 1.1rem;
}

.typeset a {
  color: var(--gray-9);
}

.typeset a:hover {
  text-decoration: none;
}

.typeset a:hover,
.typeset a:active,
.typeset a:visited {
  color: var(--gray-9);
}

.typeset ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.typeset ul + p {
  margin-top: 1.14rem;
}


.typeset ul > li {
  text-indent: -0.7rem;
}

.typeset ul > li:before {
  content: "-";
  text-indent: -0.7rem;
}


.typeset ul li,
.typeset ol li {
  font-size: var(--theta);
  line-height: 1.67;
  margin: 0;
  padding: 0;
  color: var(--gray-7);
}

.typeset ul li time {
  font-size: var(--iota);
  font-style: italic;
  letter-spacing: var(--tracking-tight);
}

.typeset blockquote {
  padding: 0;
  margin: 0;
  border-left: 2px solid var(--gray-4);
  background: var(--gray-0);
  padding: 1rem 1.5rem;
}

.typeset blockquote p {
  font-style: italic;
  letter-spacing: var(--tracking-tight);
}

.typeset blockquote + h2 {
  margin-top: 2.2rem;
}

.typeset blockquote + p {
  margin-top: 1.35rem;
}

.typeset em {
  letter-spacing: var(--tracking-tight);
}

.typeset pre[class*="language-"] {
  width: calc(100vw - 2rem);
  box-sizing: border-box;
  padding: 1.05rem;
  padding: 1rem 1.5rem 1rem;
  border: 0;
  background: var(--gray-0)
}

@media (min-width: 50rem) {
  .typeset pre[class*="language-"] {
    width: calc(100vw - 4rem);
    box-sizing: border-box;
  }
}

.typeset pre[class*="language-"] + p {
  margin-top: 1.4rem;
}

.typeset pre[class*="language-"] + h2 {
  margin-top: 1.8rem;
}

.typeset code[class*="language-"],
.typeset pre[class*="language-"] {
  font-family: var(--mono);
  font-weight: 400;
  font-size: var(--theta);
  line-height: 1.5;
}

.typeset p code {
  font-family: var(--mono);
  font-weight: 400;
  font-size: var(-theta);
  /* background: var(--gray-1);
  padding: var(--modular-scale-1); */
}

.typeset > figure:not(.highlight) {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  text-align: center;
}

.typeset > figure:not(.highlight) > img {
  /* margin: 0 auto; */
  max-width: 100%;
}

.typeset img + p {
  margin-top: 2rem;
}

.typeset .highlight {
  padding: 0;
  margin: 0;
  font-family: var(--mono);
  font-weight: 400;
  font-size: var(theta);
  line-height: 1.75;
}

.typeset .highlight + p {
  margin-top: 1.64rem;
}

.typeset .highlight + h2 {
  margin-top: 1.87rem;
}

.template-post h1 {
  margin-top: 0rem;
}