<!doctype html>
<html lang="en" class="text-lg sm:text-lg md:text-xl lg:text-xl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link type="text/css" rel="stylesheet" href="{{ '/build/index.css' | url }}?v=21">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6735496/6887412/css/fonts.css" />
  </head>
  <body class="font-sans">
    {% set postslist = collections.posts | head(-3) %}
    <header class="[ site-header ] [ my-4 px-4 max-w-xl m-auto ]">
      <a href="#content" class="visually-hidden">Skip to main content</a>
      <div class="">
        <div class="lg:flex items-center justify-between flex-wrap bg-teal">
          <div class="flex items-center flex-no-shrink text-white mr-6">
            <a href="/" class="font-sans font-normal text-base tracking-tight">Aaron Marr</a>
          </div>
          <nav class="text-sm ml-auto overflow-x-auto flex font-sans">
            <a 
              href="/posts"
              class="py-2 flex-shrink-0 hover:no-underline ml-0 lg:ml-0 underline"
            >
              Blog
            </a>
            <a 
              href="/"
              class="py-2 flex-shrink-0 hover:no-underline ml-2 lg:ml-4 underline"
            >
              Download CV
            </a>
            <a 
              href="/" 
              class="py-2 flex-shrink-0 hover:no-underline ml-2 lg:ml-4 underline"
            >
              Email Me
            </a>
            <a 
              href="/" 
              class="py-2 flex-shrink-0 hover:no-underline ml-2 lg:ml-4 underline"
            >
              Twitter
            </a>
            <a 
              href="/" 
              class="py-2 flex-shrink-0 hover:no-underline ml-2 lg:ml-4 underline"
            >
              LinkedIn
            </a>
          </nav>
        </div>
      </div>
    </header>
    <main id="content">
      {{ content | safe }}
    </main>
    <footer class="block border-t border-nord1">
      <div class="font-sans text-xs max-w-xl px-4 m-auto pt-8 pb-8">
        &copy; Aaron Marr 2020.
      </div>
    </footer>
    <script>
      //   document.addEventListener('DOMContentLoaded', function(event) {
      //   event.preventDefault();
      //   ((localStorage.getItem('mode') || 'dark') === 'dark') ?
      //     document.querySelector('body').classList.add('dark') :
      //     document.querySelector('body').classList.remove('dark');
      // })
    </script>
  </body>
</html>
