---
layout: layouts/base.njk
templateClass: template-post
---
<h1>{{ title }}</h1>

{{ content | safe }}

<time datetime="{{ date | htmlDateString }}">– {{ date | readableDate }} –</time>

{# <p><a href="{{ '/' | url }}">← Home</a></p> #}
